@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Meow+Script&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



    
    @font-face {
        font-family: "Brittany";
        src: local("BrittanySignature"), local("Brittany-Signature"),
          url("./assets/Fonts/BrittanySignature.ttf");
        font-weight: normal;
      }
    @font-face {
        font-family: "Moon Time";
        src: local("Moon Time"), local("Moon-Time"),
          url("./assets/Fonts/MoonTime.otf");
        font-weight: normal;
      }
    @font-face {
        font-family: "Neoneon";
        src: local("Moon Time"), local("Neoneon"),
          url("./assets/Fonts/Neoneon.otf");
        font-weight: normal;
      }
    @font-face {
        font-family: "Twister";
        src: local("Moon Time"), local("Twister"),
          url("./assets/Fonts/Twister.ttf");
        font-weight: normal;
      }
    @font-face {
        font-family: "ShadowIL";
        src: local("ShadowsIntoLight"), local("Shadows-Into-Light"),
          url("./assets//Fonts/ShadowsIntoLight-Regular.ttf");
        font-weight: normal;
      }




